#log_body {
    margin:0;
    padding-right:1px;
    background-color: lightgray;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#log_load_div, #log_view_div {
    border: 1px solid black;
}

#log_view_div {
    #max-height: 30vh;
    min-height: 1.2em;
    #overflow-y: scroll;
    margin-bottom: 0.2em;
    #padding-bottom: 0.2em;
}

#log_view_header_div {
    display: inline-flex;
    background-color: white;
    width: 100%;
    #position:fixed;
    height:1.2em;
    border-top: 1px solid black;
}

#log_view_header_div > * {
    display: inline;
    margin: 0;
}

#log_view_header_div > p {
    margin-left: 0.2em;
    text-wrap: nowrap;
    overflow:hidden;
    flex-grow: 1;
    #position: fixed;
}

#log_close, #log_toggle {
    cursor: pointer;
    user-select: none;
    font-family: monospace;
    font-size: math;
    padding: 0 0.3em;
}

#log_close {
    background-color: red;
    #position:fixed;
    right:0;
}

#log_toggle {
    background-color: blue;
}

#log_view_container_div {
    height: 30vh;
    resize: vertical;
    overflow: auto;
}

#log_view_container_div > * {
    #margin: 1.4em 0 0 0;
    font-family: monospace;
    font-size: math;
}

table tr:hover {
    background-color: rgba(150,0,0,0.3) !important;
}

table tr td:nth-child(even) /* vertical */ {
    background-color: rgba(180,180,180,0.4);
}

table td:nth-child(even) { /* horizontal */
    #background-color: rgba(180,180,180,0.4);
}

table:nth-child(even) {
    background-color: rgba(200,200,200,0.4);
}

table tr:nth-child(1), table td:nth-child(1), table th {
    background-color: rgba(160,160,160);
}

table tr, table tr td, table tr th {
    margin: 0;
    padding: 0;
    #height: 2.7vh;
    #max-width: 10em;
    overflow-x: visible;
    #width: 10em;
}

table td p {
    padding: 0.2em;
    margin: 0;
    font-size: 2vh;
    text-align: center;
    white-space: nowrap;
    overflow-x: clip;
}

table th p {
    #padding: 0.2em;
    margin:0;
    #font-size: 2vh;
    text-align: center;
}

table th {
    position: sticky;
    top: 0;
    #background-color: gray;
    min-height: 100%;
    height: 100%;
}

table tr:first-child {

}

table tr #header {
    overflow: hidden;
    resize: horizontal;
    align-content: center;
    #flex-grow: 1;
    min-height: 100%;
    height:100%;
    min-width: 100%;
}

table tr #header_flex {
    min-height: 100%;
    height: 100%;
    display: flex;
}

table tr #vertical {
    resize: both !important;
    align-content: center;
    overflow: hidden;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
}

table {
    #table-layout: fixed;
    width: 100%;
    height: 100%;
}