#log_body {
    margin:0;
    #padding-right:1px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x:hidden;
    background-color: white;
}

#log_body > div {
    background-color: lightgray;
    border: 1px solid black;
    margin-bottom: 0.2em;
}

#log_view_div {
    #max-height: 30vh;
    min-height: 1.2em;
    #overflow-y: scroll;
    #padding-bottom: 0.2em;
}

#log_view_header_div {
    display: inline-flex;
    background-color: white;
    width: 100%;
    #position:fixed;
    height:1.2em;
    border-top: 1px solid black;
}

#log_view_header_div > * {
    display: inline;
    margin: 0;
}

#log_view_header_div > p {
    margin-left: 0.2em;
    text-wrap: nowrap;
    overflow:hidden;
    flex-grow: 1;
    #position: fixed;
}

#log_close, #log_toggle {
    cursor: pointer;
    user-select: none;
    font-family: monospace;
    font-size: math;
    padding: 0 0.3em;
}

#log_close {
    background-color: red;
    #position:fixed;
    right:0;
}

#log_toggle {
    background-color: blue;
}

#log_view_container_div {
    height: 30vh;
    resize: vertical;
    overflow: auto;
}

#log_view_container_div > * {
    #margin: 1.4em 0 0 0;
    font-family: monospace;
    font-size: math;
}

#log_view_canvas_container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 30vh;
}

#log_view_canvas_div {
    #resize:both;
    overflow: hidden;
    #height: 30vh;
    max-width: 100%;
    width: 100%;
    flex-grow:1;
    display:flex;
}

#log_view_canvas_all_div {
    #width: 100%;
    #flex-grow:1;
    display:flex;
    flex-direction: column;
    width: 80%;
    min-width: 0;
    #resize:both;
    overflow:hidden;
}

#canvas_info {
    text-wrap: none;
    display:flex;
    background-color:gray;
}

#tooltip {
    position:absolute;
}

#tooltip #main {
    position:absolute;
    border: 1px solid black;
    text-wrap: nowrap;
    display:flex;
    flex-direction: column;
    text-align: center;
}

#tooltip #extra, #tooltip #extra_flip {
    position: absolute;
    #right:10vw;
    #text-wrap:nowrap;
    display: inline-block;
    #display:grid;
    #grid-template-columns: 1fr 1fr;
}

#tooltip #extra {
    right:10vw;
    left:auto;
}

#tooltip #extra_flip {
    right:auto;
    left:10vw;
    #direction: rtl;
}

#tooltip #extra_flip p, #tooltip #extra p {
    #position: float;
    #display: inline;
    #display:block;
    #position: float;
}
#tooltip #extra p:first-child {
    #float:left;
}

#tooltip #extra p:last-child {
    #float:right;
    margin-left:1em;
}

#tooltip #extra_flip p:last-child {
    #margin-right: 2em;
    #margin-left: 0;
    #float:left;
    margin-right: 1em;
}

#tooltip #offset_helper {
    display: flex;
    border: 1px solid black;
    position: relative;
}

#tooltip #extra_flip #offset_helper {
    flex-direction: row-reverse;
}

#tooltip #extra_flip p:first-child {
    #margin-right: 0;
    #margin-left: 2em;
    #float:right;
}

#tooltip p {
    font-family: monospace;
    font-size:1.2em;
    margin:0;
    #display: inline;
    text-wrap:nowrap;
}

#canvas_info > * {
    margin:auto auto auto 0.2em;
    #flex-grow:0.03;
    font-family: monospace;
    #font-size:1.3em;
    height:fit-content;
    text-wrap:nowrap;
}

#canvas_info button {
    margin: auto 0 auto auto;
    line-height: 0.8em;
}

.log_view_height_limit {
    max-height: 15vh;
}

.vertical_resize_bar {
    cursor:ew-resize;
    width:6px;
    height:100%;
}

.horizontal_resize_bar {
    cursor:ns-resize;
    width:100%;
    height:6px;
}

.resize_bar {
    margin:0;
    background-color: white;
    border-radius: 2px;
    border:1px solid black;
    box-sizing: border-box;
}

.resize_bar:hover {
    user-select: none;
}

#canvas_overlay, #log_view_div #overlay {
    background-color: rgba(64,64,255,0.3);
    position: absolute;
}

#log_view_canvas {
    #height: 100%;
    #width: 100%;
    image-rendering: pixelated;
    flex:1;
    overflow:hidden;
}

#log_view_buttons_div {
    overflow-x:hidden;
    display:flex;
    flex-direction: column;
    flex-basis:max-content;
    flex:1;
}

#log_view_buttons_div > div {
    #text-wrap: nowrap;
    display:flex;
    #flex-wrap:wrap;
    cursor:default;
}

#log_view_buttons_div div div {
    display:flex;
    flex-wrap:wrap;
}

#log_view_buttons_div #inline {
    display:inline-block;
}

#log_view_buttons_div div > * {
    margin: 0;
    text-wrap:nowrap;
}

.input_bypass {
    display: none;
}

#engine_btn {
    display: flex;
}

#engine_info {
    flex-wrap:wrap;
    width:100%;
}

#engine_input {
    max-width: 100%;
    display:flex;
    gap:0.2em;
    flex-wrap:wrap;
}

#engine_input div {
    #margin: 0.2em 0 0 0.2em;
    #display:inline-block;
    #margin:0 auto;
    flex:1;
}

#engine_input div:last-child {
    margin:0;
}

#engine_input div p {
    margin: 0;
}

#engine_calc {
    #margin: 0.2em 0 0 0.2em;
    #width: 100%;
}

table tr:hover {
    background-color: rgba(150,0,0,0.3) !important;
}

table tr td:nth-child(even) /* vertical */ {
    background-color: rgba(180,180,180,0.4);
}

table td:nth-child(even) { /* horizontal */
    #background-color: rgba(180,180,180,0.4);
}

table:nth-child(even) {
    background-color: rgba(200,200,200,0.4);
}

table td:nth-child(1), table th {
    background-color: rgba(160,160,160);
}

table th:nth-child(1) {
    z-index: 7;
}

table td:nth-child(1), table th:nth-child(1) {
    position: sticky;
    z-index: 6;
    left:0;
    max-width: 10vw;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

table tr, table tr td, table tr th {
    margin: 0;
    padding: 0;
    #height: 2.7vh;
    #max-width: 10em;
    #overflow-x: visible;
    #width: 10em;
}

table td p {
    #padding: 0.2em;
    margin: 0;
    #font-size: 2vh;
    #font-size:0.8em;
    text-align: center;
    white-space: nowrap;
    overflow-x: clip;
}

table thead th p {
    #padding: 0.2em;
    margin:0;
    #font-size: 2vh;
    text-align: center;
    overflow-x:hidden;
    text-wrap:nowrap;
}

table thead th {
    position: sticky;
    top: 0;
    #background-color: gray;
    #min-height: 100%;
    #height: 100%;
    max-width:4em;
}

table * {
    font-size: calc(.5vh + .5vw + 0.3em);
}

table tr:first-child {

}

table tr #header {
    #overflow: hidden;
    #resize: horizontal;
    align-content: center;
    #flex-grow: 1;
    #min-height: 100%;
    #height:100%;
    #min-width: 100%;
}

table tr #header_flex {
    #min-height: 100%;
    #height: 100%;
    #display: flex;
}

table tr #vertical {
    #resize: both !important;
    align-content: center;
    #overflow: hidden;
    #min-height: 100%;
    #height: 100%;
    #min-width: 100%;
}

table {
    table-layout: fixed;
    #width: 100%;
    height: 100%;
}

#log_view_opts > div, #global_log_opts > div {
    display: flex;
    gap:1em;
}

#log_view_opts input:read-only {
    background-color: lightgray;
}

#log_view_opts div > *, #global_log_opts div > * {
    flex:1;
    margin:0;
}

#global_log_opts > p, #engine_opts > p {
    font-weight: bold;
    font-size: 1.2em;
    margin:0;
    text-align: center;
}

#log_load_div, #engine_opts, #global_log_opts {
    padding: 0.2em;
    gap:0.2em;
}