body {
	background: transparent; /* Make it white if you need */
	color: black;
	padding: 0;
	margin: 0;
	height: 100vh;
	min-height: 100vh;
	/*justify-content: center;
	align-items: center;*/
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
	margin:0;
	padding:0;
	display: flex;
	height:fit-content;
	border-left: 0.1em solid black;
	border-bottom: 0.1em solid black;
}

#input_screen {
	top:0;
	left:0;
	position: fixed;
	width: 100%;
	height: 100%;
	align-content: center;
}

#input_screen #placement {
	margin: auto auto;
	width:max-content;
	height: min-content;
	background-color: lightgray;
	border: 1px solid black;
	max-width: 90%;
}

#input_screen #placement > div:first-child {
	margin: 0.5em;
	overflow-x: scroll;
}

#input_matrix_container, #display_matrix_container {
	display:grid;
	gap:1px;
	border:1px solid black;
	margin: 0 0.5em 0.5em 0;
}

@container (cqmax < width) {
	#input_matrix_container {

	}
}

#cam_mtx #display_matrix_container {
	#margin: 0 auto;
}

#dist > *:first-child, #img_size > *:first-child, #cam_mtx > *:first-child {
	#margin-bottom: 0.5em;
	margin: 0 0.5em 0.5em 0;
}

#cam_mtx > * {
	#margin-right: 1em;
}

#input_matrix_container {
	#background-color: black;
}

#input_matrix input, #display_matrix div {
	-moz-appearance: textfield;
	margin:0;
	padding:0;
	width:100%;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
}

#input_matrix input:focus {
	position: absolute;
	height:revert;
	text-align: start;
	max-width: 8em;
}

#img_size_container > div:first-child {
	width: max-content;
	display: flex;
}

#display_matrix, #input_matrix {
	width: 4em;
	overflow-x:hidden;
	box-sizing: border-box;
}

#display_matrix > * {
	background-color: silver;
}

#input_screen #input_buttons {
	display:flex;
	justify-content: end;
}

#input_screen #input_buttons > * {
	margin: 0.25em;
}

#input_screen #cam_mtx {
	display:flex;
	flex-wrap:wrap;
}

#input_screen #cam_mtx, #input_screen #dist {
	#margin: 0 10%;
	justify-content: start;
}

#input_screen #dist, #input_screen #img_size {
	#display: flex;
	display: inline-block;
	flex-wrap: wrap;
}

.container {
	min-width:20%;
	max-width:50%;
	overflow:scroll;
	padding: 1em 0 1em 0;
	margin:0 0 0 0;
	width: fit-content;
	border-right: 0.1em solid black;
}

.container div {
	display:inline-grid;
	height: 3em;
	overflow: visible;
	padding: 0;
	margin:0 0 0 1vw;
	min-width: 22%;
	max-width: 46vw;
}

#floatpop>canvas {
	width: 95%;
	border: 1px solid black;
}

#pageinfo, #buttons, #checks, #images {
	margin:1em auto 0 auto;
	padding:0;
	width: fit-content;
	text-align: center;
	height: fit-content;
}

#checks, #buttons {
	max-width: 40%;
}

#templates {
	max-width:40%;
}

#canvas_undistort, #image_undistort {
	padding: 0;
	margin: 0;
	max-width:50vw;
}

#images {
	height:inherit;
	max-width: inherit;
	width:fit-content;
	display:flex;
}

#floatpop>canvas:hover {
	transform: scale(2.0);
	position:relative;
}	

.header {
	background-color: lightgray;
	margin:0;
	border-bottom:0.1em solid black;
	padding: 0 1% 0 1%;
	display: flex;
	flex-wrap:wrap;
	width:98%;
	min-width: fit-content;
}

.header p {
	margin:0;
}

.header > #buttons, .header > #custom_buttons {
	max-width:10em;
	width:10em;
}

.header > #buttons > div {
	#width:inherit;
}

#custom_buttons {
	display:flex;
	width:7em;
	margin: 0.25em auto;
}

#custom_buttons button {
	min-width: initial;
	flex:1;
	margin: 0 0.25em;
}

#custom_buttons #button {
	flex:1;
	display:flex;
}

#center {
	max-width:50%;
	min-width:20%;
	height:fit-content;
	min-height:fit-content;
	height:100%;
	max-height: 100%;
	background-color: lightgray;
}

#center > :first-child {
	margin-top:1em;
}

#loading, #title {
	margin: 0;
	padding: 0;
	text-align: center;
}

#footer {
	margin: 0;
	padding: 0;
	text-align: left;
	position: fixed;
	bottom: 0;
	left: 0;
	color: #444444;
	font-style:italic;
	width:5%;
	font-size: 60%;
	white-space: nowrap;
}

#button, #select, #checkbox, #recenter {
	justify-content: center;
	margin: 0;
	padding: 0;
	height:fit-content;
	overflow-x: hidden;
}

#file {
	justify-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
	max-width: 95%;
}

#recenter div {
	width:fit-content;
	display:inline;
}

#undistort_image {
	margin: 0.25em 0 0.25em 0;
	display:block;
}

#horizontal_border, .horizontal_border {
	border-top: 1px solid black;
}

.temp_hidden {
	display: none;
}

#canvas {
	margin: 0;
	padding: 0;
	max-width: fit-content;
}

#canvas p, #file p {
	text-align: center;
	max-height: fit-content;
}

#autocalc, #autodist {
	margin-top: 0.9em;
}

button, select, #checkbox p {
	width:auto;
	max-width: 14.0em;
	min-width: 8.0em;
	margin: 0.25em 0 0.25em 0;
}

#inputs p, #inputs input, #outputs p, #outputs input {
	margin:0em;
	padding:0em;
	height:1.4em;
	overflow: visible;
	max-width: inherit;
	width:fit-content;
}

#csv table tr:hover {
	background-color: rgba(150,0,0,0.3);
}

#csv table tr :nth-child(even) {
	background-color: rgba(180,180,180,0.4);
}

#csv table :nth-child(even) {
	background-color: rgba(200,200,200,0.4);
}

#csv table tr:nth-child(1) {
	background-color: rgba(150,150,150,1.0);
}

#csv table td:nth-child(1) {
	background-color: rgba(150,150,150,1.0);
}

#csv table tr, #csv table tr td, #csv table tr th {
	margin: 0;
	padding: 0;
	align-items: center;
	height: 2.7vh;
	max-width: 10em;
	overflow-x: visible;
}

#csv table tr td:hover {
	padding:0;
	height:1.9vh;
}

#csv p:hover {
	background-color: brown;
	border: 0.1em solid black;
	z-index: 11;
	overflow-x: visible;
	height: 2.2vh;
	min-width: max-content;
}

#csv p {
	padding: 0.2em;
	margin: 0;
	font-size: 2vh;
	text-align: center;
	white-space: nowrap;
	overflow-x: clip;
}

#control {
	max-width: 20vw;
}

#csv {
	padding-bottom: 3em;
}

#constant {
	background-color: white;
}

:root {
	--alpha_red: rgba(255,0,0,0.2);
	--alpha_blue: rgba(0,0,255,0.2);
	--alpha_green: rgba(0,255,0,0.2);
}

#calc1 {
	background-color: color-mix(in srgb, var(--alpha_blue) 0%, var(--alpha_green) 100%);
}

#calc2 {
	background-color: color-mix(in srgb, var(--alpha_blue) 25%, var(--alpha_green) 75%);
}

#calc3 {
	background-color: color-mix(in srgb, var(--alpha_blue) 50%, var(--alpha_green) 50%);
}

#calc4 {
	background-color: color-mix(in srgb, var(--alpha_blue) 75%, var(--alpha_green) 25%);
}

#calc5 {
	background-color: color-mix(in srgb, var(--alpha_blue) 100%, var(--alpha_green) 0%);
}