<!DOCTYPE html>
<html>
    <head>
        <link rel="canonical" href="https://iansweb.org/uitest/layout" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="layout">
        <meta name="author" content="iansweb">
        <meta name="description" content="UI Test">
        <title>UI Layout Test</title>
        <link rel="stylesheet" href="layout.css">
    </head>
    <body id="body">    
        <div id="main">
            <div id="header">
                <div id="battery">
                    <div id="life"><div id="remaining"></div></div><p>50%</p>
                </div>
                <div id="clock">
                    <p>Sa 07/05 21:03</p>
                </div>
            </div>
            <div id="content">
                <div id="item">
                    <p>[ ON]</p>
                    <p>GPS</p>
                    <p>&gt;</p>
                </div>
                <div id="item">
                    <p>[OFF]</p>
                    <p>Accelerometer</p>
                    <p>&gt;</p>
                </div>
                <div id="item">
                    <p>[ ON]</p>
                    <p>Wireless</p>
                    <p>&gt;</p>
                </div>
            </div>
            <div id="footer">
                <p>Settings</p>
            </div>
        </div>
        <div id="userdrag">
            <input type="checkbox" id="checkbox_expand" />
            <div id="text"><a onclick="checkbox_expand.click()" id="expand"></a><div>Screen Size</div><!--<input type="checkbox" id="screen_size" />--></div>
            <div id="input">
                <div>X Px<input type="number" id="screen_width_px" /></div>
                <div>Y Px<input type="number" id="screen_height_px" /></div>
                <div>Width<input type="number" id="screen_width" /></div>
                <div>Height<input type="number" id="screen_height" /></div>
                <div>DP/u<input type="number" id="screen_density" /></div>
                <div>Imperial<input type="checkbox" id="imperial" /></div>
            </div>
        </div>
    </body>
    <script src="layout.js"></script>
</html>