* {
    padding: 0;
    margin: 0;
}

@media screen and not (max-aspect-ratio: 1/1) {
    #container.dpad {
        transform: scale(0.75);
    }

    #container {
        #width: 50vw;
        width: 50%;
        align-content: center;
    }

    #container > * {
        width: 100%;
    }

    #container #inner {
        transform: translate(0, 25%);
        min-height: 100%;
    }

    #body {
        height: 100vh;
        margin: 0 auto;
        display: flex;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    #container {
        margin-top:max(calc(5vw - 1vh),calc(1vh - 1vw));
    }

    #container img, #container canvas {
        object-fit: contain;
        display: block;
        width: inherit;
        max-width: inherit;
    }

    #container #inner {
        max-width: 95vw;
        max-height: 45vh;
        width: 45vh;
        margin: 0 auto;
        height: 95vw;
    }

    #body {
        flex-direction: column;
    }
}

canvas, img {
    image-rendering: pixelated;
}

.dpad img, .dpad canvas {
    position: absolute;
    image-rendering: pixelated;
}

#inner.dpad {
    background-color: black;
    border-radius: 50%;
}

#body {
    display: flex;
    max-width: 50em;
}

body {
    overflow: hidden;
    width:100vw;
    height:100vh;
    background-color: gray;
    overscroll-behavior: none;
    touch-action: none;
    position: fixed;
}

#rotation_0 { transform: rotate(0deg); }
#rotation_1 { transform: rotate(90deg); }
#rotation_2 { transform: rotate(180deg); }
#rotation_3 { transform: rotate(270deg); }

canvas[name=hover] {
    filter: brightness(50%);
}