* {
    padding: 0;
    margin: 0;
}

@media screen and not (max-aspect-ratio: 1/1) {
    #container.dpad {
        transform: scale(0.75);
    }

    #container {
        #width: 50vw;
        width: 50%;
        align-content: center;
    }

    #container > * {
        width: 100%;
    }

    #container #inner {
        transform: translate(0, 25%);
        min-height: 100%;
    }

    #body {
        height: 100vh;
        margin: 0 auto;
        display: flex;
        max-width: 50em;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    :root {
        --inner-width: 97vw;
        --inner-height: 48dvh;
        #--margin-short: calc(4vw - 1dvh);
        --margin-short: 1dvh;
        --margin-tall: calc(1dvh - 1vw);
        --margin-top: max(var(--margin-tall), var(--margin-short));
    }

    #container {
        #margin-top:max(calc(5vw - 1dvh),calc(1dvh - 1vw));
        margin-top: var(--margin-top);
    }

    #container img, #container canvas {
        object-fit: contain;
        display: block;
        width: inherit;
        max-width: inherit;
    }

    #container #inner {
        max-width: var(--inner-width);
        max-height: var(--inner-height);
        width: var(--inner-height);
        margin: 0 auto;
        height: var(--inner-width);
    }

    #body {
        flex-direction: column;
    }
}

canvas, img {
    image-rendering: pixelated;
}

.dpad img, .dpad canvas {
    position: absolute;
    image-rendering: pixelated;
}

#inner.dpad {
    background-color: black;
    border-radius: 50%;
    border:outset;
}

#inner.display {
    border: outset;
}

#body {
    display: flex;
}

body {
    overflow: hidden;
    width:100dvw;
    height:100dvh;
    background-color: gray;
    overscroll-behavior: none;
    touch-action: none;
    position: fixed;
}

#rotation_0 { transform: rotate(0deg); }
#rotation_1 { transform: rotate(90deg); }
#rotation_2 { transform: rotate(180deg); }
#rotation_3 { transform: rotate(270deg); }

canvas[name=hover] {
    filter: brightness(50%);
}